#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=MilKop
Comment=Kolay Program Kur
Icon=/usr/share/icons/epiicon.png
Exec=milkop
Terminal=false
Categories=Settings;Qt;
Keywords=program;kolay;kur;
Name[tr_TR]=MilKop
